{% extends 'base.html' %}
{% load staticfiles %}
{% load mathfilters %}

{% block body %}
   <section class="header_text sub">
      <!-- Image banner
      <img class="pageBanner" src="{% static 'img/pageBanner.png' %}" alt="New products" >
      -->
      <h4><span>Carro de compras</span></h4>
   </section>
   <section id="id_main_section" class="main-content">
      <form id="form_cart">{% csrf_token %}</form>
      <div class="row">
         <div class="span12">
            <table class="table table-striped">
               <thead>
                  <tr>
                     <th class="center">Eliminar</th>
                     <th class="center">Imagen</th>
                     <th>Nombre del producto</th>
                     <th class="center">Tipo</th>
                     <th class="center">Género</th>
                     <th class="center">Color</th>
                     <th class="center">Cantidad</th>
                     <th class="right">Precio unitario</th>
                     <th class="right">Total</th>
                  </tr>
               </thead>
               <tbody id="cart_body">
                  {% for detail in cart.details.all %}
                     <tr name="{{ detail.id }}">
                        <input type="hidden" id="hidden_qty" value="{{ detail.qty }}">
                        <td class="center middle">
                           <input name="delete" type="checkbox" value="option1">
                        </td>
                        <td class="center middle">
                           <a href="/product/detail?product={{ detail.product.id }}">
                              <img style="width: 10em; background-color: #ffffff" alt=""
                                   src="{% static '' %}{{ detail.product.image_path }}">
                           </a>
                        </td>
                        <td class="middle">{{ detail.product.name }}</td>
                        <td class="middle center">{{ detail.kind.name }}</td>
                        <td class="middle center">
                           {% ifequal detail.gender 'm' %}
                              Hombre
                           {% else %}
                              {% ifequal detail.gender 'f' %}
                                 Mujer
                              {% else %}
                                 N/A
                              {% endifequal %}
                           {% endifequal %}
                        </td>
                        <td class="middle center">
                           {{ detail.color.name }}
                        </td>
                        <td class="center middle">
                           <input name="qty" type="text" class="input-mini center" value="{{ detail.qty }}">
                        </td>
                        {% with price_unitary=detail.kind.price|div:IVA  %}
                           <td class="right middle">${{ price_unitary|floatformat:2 }}</td>
                           <td class="right middle">${{ price_unitary|mul:detail.qty|floatformat:2 }}</td>
                        {% endwith %}
                     </tr>
                  {% endfor %}
               </tbody>
            </table>
            <!-- For discount codes
            <h4>What would you like to do next?</h4>
            <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
            <label class="radio">
               <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
               Use Coupon Code
            </label>
            <label class="radio">
               <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
               Estimate Shipping &amp; Taxes
            </label>
            <hr>
            -->
            <p class="cart-total right">
               {% with subtotal=total|div:IVA  %}
                  <strong>Subtotal</strong>:	${{ subtotal|floatformat:2 }}<br>
                  <strong>IVA (16%)</strong>: ${{ total|sub:subtotal|floatformat:2 }}<br>
               {% endwith %}
               <strong>Total</strong>: ${{ total|floatformat:2 }}<br>
            </p>
            <hr/>
            <p class="buttons center">
               <button class="btn" type="button" onclick="update_quantity();">Actualizar</button>
               <button class="btn btn-inverse" type="btn" onclick="checkout();" id="checkout">Checkout</button>
               <div id="msg_checkout"></div>
               <form id="form_checkout">{% csrf_token %}</form>
            </p>
         </div>
      </div>
   </section>
{% endblock %}
