{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
   <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}" />
   <script src="{% static 'js/jquery.fancybox.js' %}"></script>
   <script src="{% static 'js/common.js' %}"></script>
   <script>

      $(function() {
         get_colors();
      });

      $(function () {
         $('#myTab a:first').tab('show');
         $('#myTab a').click(function (e) {
             e.preventDefault();
             $(this).tab('show');
         })
      });
      $(document).ready(function() {
         $('.thumbnail').fancybox({
             openEffect  : 'none',
             closeEffect : 'none'
         });

         $('#myCarousel-2').carousel({
             interval: 2500
         });
      });
   </script>
   {% endblock %}
   {% block body %}
   <section class="header_text sub">
        <h4><span>Detalle del producto</span></h4>
    </section>
   <section class="main-content">
      <div class="row">
         <div class="span9">
            <div class="row">
               <div class="span4">
                  <a href="{% static '' %}{{ product.image_path }}"
                             class="thumbnail" data-fancybox-group="group1" title="Description 1">
                              <img alt="" src="{% static '' %}{{ product.image_path }}">
                          </a>

                  <!-- Here are all the gallery image
                  <ul class="thumbnails small">
                     <li class="span1">
                        <a href="{% static 'img/ladies/2.jpg' %}" class="thumbnail" data-fancybox-group="group1" title="Description 2"><img src="{% static 'img/ladies/2.jpg' %}" alt=""></a>
                     </li>
                     <li class="span1">
                        <a href="themes/images/ladies/3.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 3"><img src="themes/images/ladies/3.jpg" alt=""></a>
                     </li>
                     <li class="span1">
                        <a href="themes/images/ladies/4.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 4"><img src="themes/images/ladies/4.jpg" alt=""></a>
                     </li>
                     <li class="span1">
                        <a href="themes/images/ladies/5.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 5"><img src="themes/images/ladies/5.jpg" alt=""></a>
                     </li>
                  </ul>
                  -->
               </div>
               <form method="post" class="form-inline">
                  <div class="span5">
                     <address style="margin-bottom: .5em;">
                        <strong>Nombre:</strong> <span>{{ product.name }}</span><br>
                        <strong>Código del producto:</strong> <span>{{ product.id }}</span><br>
                        <strong>Brand:</strong> <span>{{ product_d.brand }}</span><br>
                        <label style="width: 47px; font-weight: bold;">Tipo:</label>
                        <select id="select_kind" name="kind" style="margin-left: 1em;" onchange="check_unisex(); get_colors();">
                           {% for kind in kinds %}
                              <option value="{{ kind.id }}" data-unisex="{{ kind.unisex }}">{{ kind.name }}</option>
                           {% endfor %}
                        </select>
                        <div style="height: 1em;"></div>
                        <strong id="label_gender">Género:</strong>
                        <select id="select_gender" name="gender" style="margin-left: 1em;"
                                onchange="get_colors();">
                           <option value="male">Hombre</option>
                           <option value="female">Mujer</option>
                        </select>
                     </address>
                     <strong>Colores disponibles:</strong>
                     <div id="colors" class="span4" style="margin-left: 0px; margin-top: .4em;">
                     </div>


                  </div>
                  <div class="span5" style="margin-bottom: .5em;">
                     {% for kind in kinds %}
                        <input id="price_{{ kind.id }}" type="hidden" value="{{ kind.price|floatformat:2 }}">
                     {% endfor %}
                     <h4>
                        Precio:<strong id="product_price" style="color: darkred"></strong>
                     </h4>
                  </div>

                  {% if user.is_authenticated %}
                     {% csrf_token %}
                     <!-- Checkboxes that can help us with advanced options
                     <label class="checkbox">
                        <input type="checkbox" value=""> Option one is this and that
                     </label>
                     <br/>
                     <label class="checkbox">
                       <input type="checkbox" value=""> Be sure to include why it's great
                     </label>
                     <p>&nbsp;</p>
                     -->
                     <input type="hidden" name="product-id" value="{{ product.id }}" />
                     <div class="span5">
                        <label style="width: 60px;">Cantidad:</label>
                        <input type="text" name="qty" placeholder="1" value="{{ request.POST.qty }}">
                     </div>
                     <div class="span5">
                        <label style="width: 60px; margin-top: 1em;">Color:</label>
                        <select id="select_colors" name="color"></select>
                     </div>
                     <div class="span5" style="margin-top: 1em;">
                        <button class="btn btn-inverse" type="submit">Añadir al carrito</button>
                     </div>
                  {% else %}
                     <div class="span5" style="margin-top: 1em;">
                        <button type="button" class="btn btn-inverse"
                           onclick="window.location='/user/login?path={{ request.get_full_path }}'">
                              Login
                        </button>
                     </div>
                  {% endif %}
               </form>
               {% if msg_type %}
                  <div class="span5 alert-{{ msg_type }}" onclick="$(this).remove();" style="margin-top: 1em;">
                     {{ msg }}
                  </div>
               {% endif %}
            </div>
            <div class="row" style="margin-top: 2em;">
               <div class="span9">
                  <ul class="nav nav-tabs" id="myTab">
                     <li class="active"><a href="#home">Descripción</a></li>
                     <!-- Additional information tab header
                              <li class=""><a href="#profile">Additional Information</a></li>
                              -->
                  </ul>
                  <div class="tab-content">
                     <div class="tab-pane active" id="home">
                                  {{ product_d.description }}
                              </div>
                     <!-- Additional information tab body
                              <div class="tab-pane" id="profile">
                        <table class="table table-striped shop_attributes">
                           <tbody>
                              <tr class="">
                                 <th>Size</th>
                                 <td>Large, Medium, Small, X-Large</td>
                              </tr>
                              <tr class="alt">
                                 <th>Colour</th>
                                 <td>Orange, Yellow</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     -->
                  </div>
               </div>
                      <!-- Related products section
               <div class="span9">
                  <br>
                  <h4 class="title">
                     <span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
                     <span class="pull-right">
                        <a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
                     </span>
                  </h4>
                  <div id="myCarousel-1" class="carousel slide">
                     <div class="carousel-inner">
                        <div class="active item">
                           <ul class="thumbnails listing-products">
                              <li class="span3">
                                 <div class="product-box">
                                    <span class="sale_tag"></span>
                                    <a href="product_detail.html"><img alt="" src="themes/images/ladies/6.jpg"></a><br/>
                                    <a href="product_detail.html" class="title">Wuam ultrices rutrum</a><br/>
                                    <a href="#" class="category">Suspendisse aliquet</a>
                                    <p class="price">$341</p>
                                 </div>
                              </li>
                              <li class="span3">
                                 <div class="product-box">
                                    <span class="sale_tag"></span>
                                    <a href="product_detail.html"><img alt="" src="themes/images/ladies/5.jpg"></a><br/>
                                    <a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>
                                    <a href="#" class="category">Phasellus consequat</a>
                                    <p class="price">$341</p>
                                 </div>
                              </li>
                              <li class="span3">
                                 <div class="product-box">
                                    <a href="product_detail.html"><img alt="" src="themes/images/ladies/4.jpg"></a><br/>
                                    <a href="product_detail.html" class="title">Praesent tempor sem</a><br/>
                                    <a href="#" class="category">Erat gravida</a>
                                    <p class="price">$28</p>
                                 </div>
                              </li>
                           </ul>
                        </div>
                        <div class="item">
                           <ul class="thumbnails listing-products">
                              <li class="span3">
                                 <div class="product-box">
                                    <span class="sale_tag"></span>
                                    <a href="product_detail.html"><img alt="" src="themes/images/ladies/1.jpg"></a><br/>
                                    <a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>
                                    <a href="#" class="category">Phasellus consequat</a>
                                    <p class="price">$341</p>
                                 </div>
                              </li>
                              <li class="span3">
                                 <div class="product-box">
                                    <a href="product_detail.html"><img alt="" src="themes/images/ladies/2.jpg"></a><br/>
                                    <a href="product_detail.html">Praesent tempor sem</a><br/>
                                    <a href="#" class="category">Erat gravida</a>
                                    <p class="price">$28</p>
                                 </div>
                              </li>
                              <li class="span3">
                                 <div class="product-box">
                                    <span class="sale_tag"></span>
                                    <a href="product_detail.html"><img alt="" src="themes/images/ladies/3.jpg"></a><br/>
                                    <a href="product_detail.html" class="title">Wuam ultrices rutrum</a><br/>
                                    <a href="#" class="category">Suspendisse aliquet</a>
                                    <p class="price">$341</p>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               -->
            </div>
         </div>
      </div>
   </section>
{% endblock %}