{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="row center">
        <h3>
            Información adicional
        </h3>
    </div>
    <form>
        <fieldset>
            <div class="span4">
                <div class="control-group">
                    <label class="control-label">
                        Nombre completo
                    </label>
                    <div class="controls">
                        <input type="text"  />
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="control-group">
                    <label class="control-label">
                        Número exterior
                    </label>
                    <div class="controls">
                        <input type="text" />
                    </div>
                </div>
            </div>

            <div class="span3">
                <div class="control-group">
                    <label class="control-label">
                        Calle
                    </label>
                    <div class="controls">
                        <input type="text" />
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}